name: build-bees

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 * * * *'
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v3
        with:
          environment-file: environment.yml
          python-version: 3.10.14
          activate-environment: simple_bees
          auto-activate-base: false
      - run: |
          conda env list
          conda activate simple_bees
          conda list
        
      - name: Run Python code
        run: python main.py
